@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

:root {
  /* Fonts */
  --Primary-Roboto: "Roboto", sans-serif;
}

:root {
  /* Color */
  --top-header-color: #222222;
  --Primary-color: #ff4646;
  --White: #fff;
  --about-background: #fafafa;
}

html {
  scroll-behavior: smooth;
}

/* ========== Layout ========== */
.bd-container {
  max-width: 1024px;
  margin-right: 1rem;
  margin-left: 1rem;
  padding: 0 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--Primary-Roboto);
}

li {
  list-style: none;
  margin-right: 30px;
}

a {
  text-decoration: none;
  color: var(--top-header-color);
  font-size: 0.9rem;
}

/* ========== Header ========== */
/* Navigation */
.header-content {
  background-color: var(--top-header-color);
  padding: 20px 30px;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  /* position: fixed; removed it cause problem when scrolling down */
  width: 100%;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: 0.5s;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .banner-container {
  padding-bottom: 60px;
}

.nav-menu {
  position: relative;
  display: flex;
}

.active-nav {
  background-color: var(--Primary-color);
  padding: 22px;
  transition: 0.5s;
}

.active-nav:hover {
  color: var(--White);
}

header li a {
  text-transform: uppercase;
  color: var(--White);
  transition: 0.2s;
}

header li a:hover {
  color: var(--Primary-color);
}

.header-menu .logo img {
  width: 250px;
  max-width: 100%;
  height: auto;
}

/* Navigation END */

.header-top {
  background-color: var(--top-header-color);
  color: var(--White);
}

.header-top-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.header-top-info .top-text p {
  text-transform: uppercase;
  font-size: 0.8rem;
  padding-top: 5px;
}

.header-top-info .social a {
  color: var(--top-header-color);
  font-size: 1.2rem;
  margin-left: 10px;
  color: var(--White);
}

.header-top-info .social a:hover {
  color: var(--Primary-color);
}

.location-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.telephone,
.location,
.home-address,
.schedule {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-self: end;
  font-size: 0.8rem;
}

.phone-icon,
.home-icon,
.schedule-icon {
  font-size: 1.3rem;
  color: #fff;
  background-color: var(--Primary-color);
  padding: 10px;
  border-radius: 10px 25px;
}

.login-btn {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: var(--White);
  font-size: 1rem;
  text-transform: uppercase;
}

.login-btn:hover {
  color: var(--Primary-color);
}

/* ========== Header END ========== */

/* ========== Login Modal ========== */
.loginModal,
.registerModal {
  display: none;
  position: fixed;
  z-index: 3;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

#closed,
#register-closed {
  color: var(--White);
  float: right;
  font-size: 1.5rem;
  font-weight: bold;
}

#closed:hover,
#closed:focus,
#register-closed:hover,
#register-closed:focus {
  color: #000;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: var(--Primary-color);
  color: var(--White);
}

.modal-header h2 {
  text-align: center;
}

.modal-body {
  padding: 1rem 1rem;
}

.login-validation {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-validation input[type="email"],
.login-validation input[type="password"],
.login-validation input[type="text"] {
  display: inline-block;
  width: 100%;
  padding: 12px 20px;
  border-radius: 5px;
  margin: 8px 0;
  border: 1px solid #ccc;
}

.btn-login,
.btn-register {
  background-color: var(--Primary-color);
  color: var(--White);
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
}

.btn-login:hover {
  opacity: 0.8;
}

.modal-body .user-icon {
  display: block;
  width: 150px;
  max-width: 100%;
  height: auto;
  margin: auto;
}

.footer-modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  color: var(--Primary-color);
  padding: 0 10px;
}

.footer-modal .register-user a:hover,
.reset-password a:hover {
  color: var(--Primary-color);
}

/* ========== Login Modal End ========== */

/* ========== Banner Section ========== */
.banner-container {
  position: relative;
  background-color: black;
  z-index: 1;
}

.banner-container::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.3;
  background: url(/assets/img/pexels-photo-296848.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-content {
  opacity: 1;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--White);
  text-align: center;
}

.banner-text span {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.banner-text h1 {
  font-size: 4rem;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.banner-text .appointment-btn a {
  background-color: var(--Primary-color);
  margin: 0 auto;
  color: #fff;
  transition: 0.2s;
}

.banner-text a:hover {
  font-size: 1.1rem;
}

.appointment-btn a {
  color: var(--White);
  background-color: var(--Primary-color);
  width: 15%;
  padding: 22px;
  height: auto;
  text-align: center;
}
/* ========== Banner Section END ========== */

/* ========== Repair Section ========== */

.repair-container {
  background-color: var(--about-background);
  padding-top: 40px;
  padding-bottom: 80px;
}
.repair-content {
  text-align: center;
}

.bike-icon {
  width: 35px;
  max-width: 100%;
}

.title-text {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 5px;
  letter-spacing: 10px;
}

.text {
  font-size: 1rem;
  margin-top: 5px;
  margin-bottom: 50px;
}

.repair-process-card {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  justify-self: center;
  align-items: center;
}

.repair {
  text-align: center;
  width: 100%;
  height: auto;
  padding: 10px;
  background-color: var(--White);
  border: 1px solid #bfbfbf;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.08);
  margin-top: 50px;
  position: relative;
}

.repair:hover {
  background-color: var(--Primary-color);
  color: var(--White);
}

.repair:hover .border-line {
  border-color: var(--White);
}

.repair:hover .diamond-shape {
  background-color: var(--about-background);
  border: 1px solid #bfbfbf;
  box-shadow: 2px 5px rgba(0, 0, 0, 0.05);
}

.repair:hover .item-count {
  color: var(--Primary-color);
}

.repair-title {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.repair-text {
  font-size: 0.8rem;
  margin-bottom: 40px;
}

.border-line {
  border-style: solid;
  border-width: 2px;
  max-width: 25px;
  margin: 0 auto 10px auto;
  border-color: var(--Primary-color);
}

.diamond-shape {
  position: relative;
  bottom: 40px;
  left: 35%;
  background-color: var(--Primary-color);
  height: 60px;
  width: 60px;
  text-align: center;
  transform: rotate(45deg);
}

.item-count {
  color: #333;
  display: table-cell;
  height: 60px;
  transform: rotate(-45deg);
  vertical-align: middle;
  width: 60px;
  font-size: 1.5rem;
  color: var(--White);
}
/* ========== Repair Section END ========== */

/* ========== About Section ========== */
.about-container {
  padding-top: 40px;
}

.about-content {
  margin-bottom: 40px;
}

.about-info {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}

.about-info .about-img img {
  width: 550px;
  height: auto;
  max-width: 100%;
}

.about-text-info {
  text-align: left;
  font-weight: bold;
  font-size: 1.7rem;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.about-text-repair {
  text-align: left;
  font-size: 1rem;
  letter-spacing: 1px;
}

.about-text-repair span {
  color: var(--Primary-color);
}

.about-other-info {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  margin-top: 40px;
}
.row {
  align-items: center;
  display: flex;
  background-color: var(--White);
  border: 1px solid #bfbfbf;
  box-shadow: 2px 5px rgba(0, 0, 0, 0.05);
  width: 100%;
  padding: 15px;
  text-align: center;
  margin: auto;
}
.row:hover {
  background-color: var(--Primary-color);
}

.row:hover i,
.row:hover h3 {
  color: var(--White);
}
.row i {
  color: var(--Primary-color);
  margin-right: 10px;
}

.row h3 {
  text-transform: uppercase;
  font-size: 1rem;
}
/* ========== About Section END ========== */

/* ========== Facts Section ========== */
.facts-container {
  background-color: var(--top-header-color);
  color: var(--White);
}

.facts-content,
.about-content,
.fees-content,
.testimonials-content,
.subscribe-content,
.news-content {
  padding-top: 40px;
  text-align: center;
}

.facts-card {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
}

.cards {
  background-color: var(--White);
  border: 1px solid #bfbfbf;
  box-shadow: 2px 5px rgba(0, 0, 0, 0.05);
  width: 100%;
  padding: 25px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 40px;
}

.cards:hover {
  background-color: var(--Primary-color);
}

.cards:hover i,
.cards:hover h3,
.cards:hover p {
  color: var(--White);
}

.cards i {
  color: var(--Primary-color);
  font-size: 3rem;
  margin-bottom: 20px;
}
.cards p {
  color: var(--Primary-color);
  margin-top: 10px;
  font-size: 1.2rem;
}

.cards h3 {
  color: var(--top-header-color);
  font-size: 1.5rem;
  margin-bottom: 10px;
}
/* ========== Facts Section END ========== */

/* ========== Our Expers Section ========== */

/* ========== Our Expers Section END ========== */

/* ========== Our Services Section ========== */
.services-container {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--about-background);
  margin-bottom: 40px;
}

.services-content {
  text-align: center;
}

.services-card {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.services-card .repair {
  margin-bottom: 0px;
}

.services-card .diamond-shape {
  left: 40%;
}

/* ========== Our Services Section  END ========== */

/* ========== Our Fees Section ========== */

.fees-container,
.testimonials-container {
  margin-bottom: 80px;
}

.fees-card {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.fees {
  background-color: var(--about-background);
  text-align: center;
  width: 100%;
  padding: 20px;
  border: 1px solid #bfbfbf;
  box-shadow: 2px 5px rgba(0, 0, 0, 0.05);
}

.fees .dollar {
  font-size: 1.2rem;
  position: relative;
  left: 0;
  top: -10px;
}

.fees h4 {
  font-size: 1.8rem;
  position: relative;
  margin-bottom: 10px;
}

.fees .plan {
  display: block;
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.fees .border-line {
  max-width: 250px;
}

.fees a {
  display: inline-block;
  background-color: var(--Primary-color);
  color: white;
  max-width: 100%;
  padding: 10px;
  margin-top: 10px;
  transition: 0.2s;
}
.fees a:hover {
  opacity: 0.7;
}
/* ========== Our Fees Section END ========== */

/* ========== Testimonials Section ========== */
.testimonials-content {
  overflow: hidden;
}

.testimonials-content .testimonials-info {
  display: flex;
  justify-content: space-between;
  animation: 50s slider infinite;
}

.feedback {
  display: block;
  padding: 0 20px;
  background-color: var(--about-background);
  position: relative;
}

.feedback p {
  display: inline-block;
  width: 280px;
  max-width: 100%;
  font-size: 0.9rem;
  font-style: italic;
  margin-top: 40px;
}

.feedback i {
  position: absolute;
  left: 5%;
  top: 0;
  color: var(--White);
  width: 35px;
  height: auto;
  background-color: var(--Primary-color);
  padding: 10px;
}

.feedback strong,
.feedback span {
  display: inline-block;
  font-size: 0.8rem;
  opacity: 0.5;
  margin-bottom: 20px;
}
/* ========== Testimonials Section END ========== */

/* ========== Subscribe Section ========== */
.subscribe-container {
  background-color: var(--about-background);
  padding-bottom: 80px;
}

.validation #email {
  width: 350px;
  max-width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  outline: none;
  border: 0.2px solid #ccc;
}

.validation .validate-btn {
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: var(--Primary-color);
  color: var(--White);
  cursor: pointer;
}

.validation .validate-btn:hover {
  opacity: 0.8;
}
/* ========== Subscribe Section END ========== */

/* ========== Tutorials Section ========== */

.news-container {
  margin-bottom: 80px;
}

.news-tutorials {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.article img {
  width: 350px;
  max-width: 100%;
  height: auto;
  border: 1px solid #bfbfbf;
  box-shadow: 2px 5px rgba(0, 0, 0, 0.05);
}

.article-details {
  text-align: left;
  width: 100%;
  height: auto;
  background-color: var(--White);
  padding: 20px;
  border: 1px solid #bfbfbf;
  box-shadow: 2px 5px rgba(0, 0, 0, 0.05);
}

.article-details p {
  font-size: 0.9rem;
  width: 100%;
  margin-top: 12px;
  margin-bottom: 10px;
}

.article-details .read-more {
  width: 100%;
  display: inline-block;
  background-color: var(--Primary-color);
  padding: 10px;
  color: var(--White);
  text-align: center;
}

.read-more:hover {
  background-color: var(--White);
  color: var(--Primary-color);
  border: 1px solid var(--Primary-color);
  box-shadow: 2px 5px rgba(0, 0, 0, 0.05);
}

/* ========== Tutorials Section END ========== */

/* ========== Footer Section ========== */
.footer-container {
  background-color: var(--top-header-color);
}

.footer-content {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  padding: 20px 0px;
}

.footer-logo img {
  width: 250px;
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

.footer-logo .footer-logo-text p {
  color: var(--White);
  width: 250px;
  max-width: 100%;
  margin-top: 10px;
}

.footer-logo .social-media {
  margin-top: 50px;
  text-align: center;
}

.footer-logo .social-media i {
  color: var(--White);
  font-size: 2rem;
  margin-right: 10px;
}

.footer-logo .social-media i:hover {
  color: var(--Primary-color);
}

.footer-nav-links .footer-menu {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.footer-nav-links .footer-menu li {
  margin-right: 0;
  margin-bottom: 15px;
  text-align: center;
}

.footer-nav-links .footer-menu li a {
  color: var(--White);
  font-size: 1.2rem;
}

.footer-nav-links .footer-menu li a:hover {
  color: var(--Primary-color);
}

.footer-contact {
  display: flex;
  flex-direction: column;
  color: var(--White);
}

.footer-contact h2 {
  margin: 10px 0;
  text-align: center;
}

.footer-contact div {
  margin-bottom: 10px;
}
/* ========== Footer Section END ========== */

/* ========== Media Qeury ========== */
@media (max-width: 900px) {
  header .nav-menu,
  .header-top,
  .location-info {
    display: none;
  }

  header .logo img {
    display: block;
    max-width: 170px;
  }

  header .nav-menu.active {
    width: 80%;
    height: 450px;
    position: fixed;
    top: 80px;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 10%;
    justify-self: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 2px 2px 5px #111;
    z-index: 2;
    border-radius: 5px;
  }

  header li a {
    color: var(--top-header-color);
  }

  .active-nav {
    color: var(--White);
  }

  header .nav-menu li {
    margin-right: 0;
    margin-top: 40px;
  }

  .nav-menu li a {
    font-size: 1.1rem;
  }

  .menu-toggle {
    position: relative;
    width: 50px;
    height: 20px;
    background: url(/assets/img/icon-hamburger.svg) no-repeat right;
    background-size: 30px;
    cursor: pointer;
  }

  .menu-toggle.active {
    background: url(/assets/img/icon-close.svg) no-repeat right;
    background-size: 25px;
  }

  .login-btn {
    color: var(--top-header-color);
    font-size: 1.2rem;
  }

  .loginModal,
  .registerModal {
    z-index: 1000;
  }
  /* ========== Header END ========== */

  /* ========== Repair Section ========== */
  .repair-process-card {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    margin: auto;
  }

  .diamond-shape {
    left: 45%;
  }
  /* ========== Repair Section END ========== */

  /* ========== About Section ========== */
  .about-info {
    grid-template-columns: 1fr;
  }

  .about-img {
    margin: auto;
  }

  /* ========== About Section END ========== */

  /* ========== Facts Section ========== */

  .facts-card {
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    padding-bottom: 20px;
  }

  .cards {
    margin-bottom: 0;
  }
  /* ========== Facts Section END ========== */

  /* ========== Our Expers Section ========== */

  /* ========== Our Expers Section END ========== */

  /* ========== Our Services Section ========== */

  .services-card {
    grid-template-columns: repeat(2, 1fr);
  }

  /* ========== Our Services Section  END ========== */

  /* ========== Our Fees Section ========== */
  .fees-card {
    grid-template-columns: repeat(2, 1fr);
  }

  /* ========== Our Fees Section Section ========== */

  /* ========== Tutorials Section ========== */

  .news-tutorials {
    grid-template-columns: repeat(2, 1fr);
  }

  .article img {
    width: 100%;
  }
  /* ========== Tutorials Section END ========== */

  /* ========== Footer Section ========== */
  .footer-content {
    grid-template-columns: 1fr;
  }

  .footer-logo img {
    display: block;
    margin: auto;
  }

  .footer-logo .footer-logo-text p {
    width: 80%;
    max-width: 100%;
    margin: 10px auto 0 auto;
    text-align: center;
  }

  .footer-contact {
    margin: auto;
  }
  /* ========== Footer Section END ========== */
}

@media (max-width: 600px) {
  .header-content {
    padding: 20px 0px;
  }

  .title-text {
    font-size: 1.2rem;
  }

  text {
    font-size: 0.9rem;
  }

  .footer-modal {
    flex-direction: column;
    margin-bottom: 10px;
  }

  .modal-content {
    width: 80%;
  }

  /* ========== About Section ========== */
  .about-text-info {
    font-size: 1rem;
  }

  .about-other-info {
    grid-template-columns: 1fr;
  }

  .row i {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
  .row {
    display: block;
  }

  /* ========== About Section END ========== */

  /* ========== Repair Section ========== */
  .repair-process-card {
    grid-template-columns: 1fr;
  }
  .diamond-shape {
    left: 40%;
  }
  /* ========== Repair Section END ========== */

  /* ========== Facts Section ========== */

  .facts-card {
    grid-template-columns: 1fr;
    margin: auto;
  }
  /* ========== Facts Section END ========== */

  /* ========== Our Services Section ========== */

  .services-card {
    grid-template-columns: 1fr;
  }

  /* ========== Our Services Section  END ========== */

  /* ========== Our Fees Section ========== */
  .fees-card {
    grid-template-columns: 1fr;
  }
  /* ========== Our Fees Section END ========== */

  /* ========== Subscribe Section ========== */

  .validation #email {
    width: 100%;
  }

  .validate-btn {
    margin-top: 10px;
    width: 100%;
  }

  /* ========== Subscribe Section END ========== */

  /* ========== Tutorials Section ========== */

  .news-tutorials {
    grid-template-columns: 1fr;
  }

  /* ========== Tutorials Section END ========== */
}

@media (min-width: 1024px) {
  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }
}
